{% extends "base.html"%}
{% block title%} | Home{% endblock%}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

<!-- Mobile Specific Metas
================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

</head>
<body>
<div id="wrapper">

<!-- Banner
================================================== -->
<div id="banner" class="with-transparent-header parallax background" style="background-image: url({% static 'images/banner-home-02.jpg' %});" data-img-width="2000" data-img-height="1330" data-diff="300">
	<div class="container">
		<div class="sixteen columns">
			
			<div class="search-container">

				<div class="sixteen columns">
					<h2>My Account</h2>
					<nav id="breadcrumbs">
						<ul>
							<li>You are here:</li>
							<li><a href="#">Home</a></li>
							<li>My Account</li>
						</ul>
					</nav>
				</div>

			</div>

		</div>
	</div>
</div>

<!-- Container -->
<div class="container">

	<div class="my-account">
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{message.tags}}">{{ message }}</div>
{% endfor %}
{% endif %}
		<div class="tabs-container">
			<!-- Login -->
			<div class="tab-content" id="tab1" style="display: none;">
				<form action="#" method="post" class="login">

					{% csrf_token %}
					{{ form | crispy}}

					<p class="form-row">
						<input type="submit" class="button border fw margin-top-10" name="login" value="Login" />

						<label for="rememberme" class="rememberme">
						<input name="rememberme" type="checkbox" id="rememberme" value="forever" /> Remember Me</label>
					</p>

					<p class="lost_password">
						<a href="#" >Lost Your Password?</a>
					</p>
					
				</form>
			</div>
		</div>
	</div>
</div>





</body>
</html>
{% endblock %}